.museic-container {
	position: relative;
	width: 100%;
	height: 100%;
}

.museic-tile {
	position: absolute;
}

.museic-bg {
	position: absolute;
	background-position: center;
	background-size: cover;
}
